**/.classpath
**/.dockerignore
**/.env
**/.env.dev
**/.env.staging
**/.env.prod
!**/.env.*.example
**/.git
**/.gitignore
**/.project
**/.settings
**/.tools
**/target
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/npm-debug.log
**/docker-compose*
**/Dockerfile*
LICENSE
README.md
